/* .player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(100, 100, 100, 0.6);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span {
        font: 32px;
        margin-left: 16px;
    }
} */

.player {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 100, 100, 0.6);
    border-radius: 50px;
    height: 50px;
    p {
        margin: 0px;
        font-size: large;
    }
}

.player-active {
    background-color: sandybrown !important;
}

@media(max-width: 600px) {
    .player {
        span {}
    }
}