.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('./../../assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    .card-stack {
        position: relative;
        img {
            position: absolute;
            width: 120px;
        }
    }
    .top-card {
        cursor: pointer;
        transition: all 225ms ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.draw-card {
    animation: draw-card-animation 2s ease-in-out;
    transform: scale(1) translateX(140px) translateY(-250px) rotate(10deg);
}

.played-card {
    right: 12px;
    transform: scale(1) translateX(140px) translateY(-250px) rotate(10deg);
}

@keyframes draw-card-animation {
    0% {
        transform: scale(1.1);
    }
    33% {
        transform: scale(1.7);
    }
    66% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1) translateX(140px) translateY(-250px) rotate(10deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}