<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 50 +( i * 90)}" [name]="player" [playerActive]="i == game.currentPlayer" class="player-position">

</app-player>

<div class="field">

    <div class="card-stack">
        <!-- Card stack -->
        <img *ngFor='let c of [1,2,3,4]; let i = index;' [ngStyle]="{'right.px': i * 2}" src="/assets/img/cards/card_cover.png">

        <img (click)="drawCard()" class="top-card" style="right: 12px;" src="/assets/img/cards/card_cover.png">

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCard" class="played-card" src="/assets/img/cards/{{ card }}.png">

        <!-- Current card (Animation) -->

        <img (click)="drawCard()" *ngIf="drawCardAnimation" class="draw-card" style="right: 12px;" src="/assets/img/cards/{{currentCard}}.png">


    </div>
</div>

<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>