.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('./../../assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    .card-stack {
        position: relative;
        top: -70px;
        img {
            position: absolute;
            width: 100px;
        }
    }
    .top-card {
        cursor: pointer;
        transition: all 225ms ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.draw-card {
    animation: draw-card-animation 2s ease-in-out;
    transform: scale(1) translateX(40px) translateY(-220px) rotate(10deg);
}

.played-card {
    right: 12px;
    transform: scale(1) translateX(40px) translateY(-220px) rotate(10deg);
}

@keyframes draw-card-animation {
    0% {
        transform: scale(1.1);
    }
    33% {
        transform: scale(1.5);
    }
    66% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1) translateX(40px) translateY(-220px) rotate(10deg);
    }
}

.scroll-container {
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 450px;
    app-player {
        margin-top: 10px;
    }
}

.btn-add {
    position: absolute;
    left: 32px;
    top: 32px;
}

.pin-bottom {
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;
    height: 128px;
    box-sizing: border-box;
}